@{
    ViewBag.Title = "Assignment7 Part1 Home";
}

<div class="jumbotron">
    <h1>Assignment7</h1>
    <p class="lead">Assignment7 is a webapp built to add notes, view users and categories. </p>
    
</div>